################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WoodenAutomative/bin/Debug/net6.0/de
/WoodenAutomative/bin/Debug/net6.0/es
/WoodenAutomative/bin/Debug/net6.0/fr
/WoodenAutomative/bin/Debug/net6.0/it
/WoodenAutomative/bin/Debug/net6.0/ja
/WoodenAutomative/bin/Debug/net6.0/ko
/WoodenAutomative/bin/Debug/net6.0
/WoodenAutomative/obj/Debug/net6.0/ref
/WoodenAutomative.Domain/bin/Debug/net6.0
/WoodenAutomative.Domain/obj/Debug/net6.0/ref
/WoodenAutomative.Domain/obj/Debug/net6.0/refint
/WoodenAutomative.EntityFramework/obj/Debug/net6.0/refint
/WoodenAutomative/.vs/ProjectEvaluation/woodenautomative.metadata.v6.1
/WoodenAutomative/.vs/ProjectEvaluation/woodenautomative.projects.v6.1
/WoodenAutomative/.vs/WoodenAutomative/DesignTimeBuild/.dtbcache.v2
/WoodenAutomative/.vs/WoodenAutomative/v17/.suo
/WoodenAutomative/.vs/WoodenAutomative/v17/.futdcache.v2
/WoodenAutomative/.vs/WoodenAutomative/FileContentIndex/88b555be-8546-445a-854e-5346a9fa2579.vsidx
/WoodenAutomative/.vs/WoodenAutomative/FileContentIndex/6c20fd13-fcf6-41ce-9476-7bb56a8595a1.vsidx
/WoodenAutomative/.vs/WoodenAutomative/FileContentIndex/6af67573-d345-487e-b87b-00773b123d35.vsidx
/WoodenAutomative/.vs/WoodenAutomative/config/applicationhost.config
/WoodenAutomative/obj/Debug/net6.0/WoodenAutomative.pdb
/WoodenAutomative/obj/Debug/net6.0/WoodenAutomative.MvcApplicationPartsAssemblyInfo.cache
/WoodenAutomative/obj/Debug/net6.0/WoodenAutomative.genruntimeconfig.cache
/WoodenAutomative/obj/Debug/net6.0/WoodenAutomative.GeneratedMSBuildEditorConfig.editorconfig
/WoodenAutomative/obj/Debug/net6.0/WoodenAutomative.dll
/WoodenAutomative/obj/Debug/net6.0/WoodenAutomative.csproj.FileListAbsolute.txt
/WoodenAutomative/obj/Debug/net6.0/WoodenAutomative.csproj.CoreCompileInputs.cache
/WoodenAutomative/obj/Debug/net6.0/WoodenAutomative.csproj.CopyComplete
/WoodenAutomative/obj/Debug/net6.0/WoodenAutomative.csproj.BuildWithSkipAnalyzers
/WoodenAutomative/obj/Debug/net6.0/WoodenAutomative.csproj.AssemblyReference.cache
/WoodenAutomative/obj/Debug/net6.0/WoodenAutomative.assets.cache
/WoodenAutomative/obj/Debug/net6.0/staticwebassets.pack.json
/WoodenAutomative/obj/Debug/net6.0/staticwebassets.development.json
/WoodenAutomative/obj/Debug/net6.0/staticwebassets.build.json
/WoodenAutomative/obj/Debug/net6.0/staticwebassets/msbuild.WoodenAutomative.Microsoft.AspNetCore.StaticWebAssets.props
/WoodenAutomative/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.WoodenAutomative.props
/WoodenAutomative/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.WoodenAutomative.props
/WoodenAutomative/obj/Debug/net6.0/staticwebassets/msbuild.build.WoodenAutomative.props
/WoodenAutomative/obj/Debug/net6.0/project.razor.vs.json
/WoodenAutomative/obj/Debug/net6.0/apphost.exe
/WoodenAutomative.Domain/obj/WoodenAutomative.Domain.csproj.nuget.g.targets
/WoodenAutomative.Domain/obj/WoodenAutomative.Domain.csproj.nuget.g.props
/WoodenAutomative.Domain/obj/WoodenAutomative.Domain.csproj.nuget.dgspec.json
/WoodenAutomative.Domain/obj/project.nuget.cache
/WoodenAutomative.Domain/obj/project.assets.json
/WoodenAutomative.Domain/obj/Debug/net6.0/WoodenAutomative.Domain.pdb
/WoodenAutomative.Domain/obj/Debug/net6.0/WoodenAutomative.Domain.genruntimeconfig.cache
/WoodenAutomative.Domain/obj/Debug/net6.0/WoodenAutomative.Domain.dll
/WoodenAutomative.Domain/obj/Debug/net6.0/WoodenAutomative.Domain.csproj.FileListAbsolute.txt
/WoodenAutomative.Domain/obj/Debug/net6.0/WoodenAutomative.Domain.csproj.CoreCompileInputs.cache
/WoodenAutomative.Domain/obj/Debug/net6.0/WoodenAutomative.Domain.csproj.BuildWithSkipAnalyzers
/WoodenAutomative.Domain/obj/Debug/net6.0/WoodenAutomative.Domain.csproj.AssemblyReference.cache
/WoodenAutomative.Domain/obj/Debug/net6.0/WoodenAutomative.Domain.assets.cache
/.vs/InkeyWoodenAutomative/v17/.wsuo
/WoodenAutomative.EntityFramework/obj/WoodenAutomative.EntityFramework.csproj.nuget.g.targets
/WoodenAutomative.EntityFramework/obj/WoodenAutomative.EntityFramework.csproj.nuget.g.props
/WoodenAutomative.EntityFramework/obj/WoodenAutomative.EntityFramework.csproj.nuget.dgspec.json
/WoodenAutomative.EntityFramework/obj/project.nuget.cache
/WoodenAutomative.EntityFramework/obj/project.assets.json
/WoodenAutomative.EntityFramework/obj/Debug/net6.0/WoodenAutomative.EntityFramework.pdb
/WoodenAutomative.EntityFramework/obj/Debug/net6.0/WoodenAutomative.EntityFramework.genruntimeconfig.cache
/WoodenAutomative.EntityFramework/obj/Debug/net6.0/WoodenAutomative.EntityFramework.dll
/WoodenAutomative.EntityFramework/obj/Debug/net6.0/WoodenAutomative.EntityFramework.csproj.FileListAbsolute.txt
/WoodenAutomative.EntityFramework/obj/Debug/net6.0/WoodenAutomative.EntityFramework.csproj.CoreCompileInputs.cache
/WoodenAutomative.EntityFramework/obj/Debug/net6.0/WoodenAutomative.EntityFramework.csproj.CopyComplete
/WoodenAutomative.EntityFramework/obj/Debug/net6.0/WoodenAutomative.EntityFramework.csproj.BuildWithSkipAnalyzers
/WoodenAutomative.EntityFramework/obj/Debug/net6.0/WoodenAutomative.EntityFramework.csproj.AssemblyReference.cache
/WoodenAutomative.EntityFramework/obj/Debug/net6.0/WoodenAutomative.EntityFramework.assets.cache
/WoodenAutomative.EntityFramework/obj/Debug/net6.0/ref/WoodenAutomative.EntityFramework.dll
/WoodenAutomative.EntityFramework/Migrations/20230414053325_aspnetusertable1.cs
/WoodenAutomative/obj/Debug/net6.0
/WoodenAutomative/obj/WoodenAutomative.csproj.nuget.g.targets
/WoodenAutomative/obj/WoodenAutomative.csproj.nuget.g.props
/WoodenAutomative/obj/WoodenAutomative.csproj.nuget.dgspec.json
/WoodenAutomative/obj/project.nuget.cache
/WoodenAutomative/obj/project.assets.json
/WoodenAutomative.EntityFramework/bin/Debug/net6.0
/WoodenAutomative/.vs/WoodenAutomative/FileContentIndex
/WoodenAutomative.EntityFramework/obj/Debug/net6.0/WoodenAutomative.EntityFramework.GeneratedMSBuildEditorConfig.editorconfig
/WoodenAutomative.EntityFramework/Migrations/20230414053325_aspnetusertable1.Designer.cs
/WoodenAutomative.Domain/obj/Debug/net6.0/WoodenAutomative.Domain.GeneratedMSBuildEditorConfig.editorconfig
/WoodenAutomative/WoodenAutomative.csproj
*.wsuo
/WoodenAutomative/.vs/WoodenAutomative/FileContentIndex/5f454460-718e-41a0-8f46-c3ce1ce87ec2.vsidx
/.vs/Wooden Automative/FileContentIndex
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/WoodenAutomative/.vs/ProjectEvaluation
/WoodenAutomative.Domain/obj/Release/net6.0
/WoodenAutomative.EntityFramework/obj/Release/net6.0
/WoodenAutomative/WoodenAutomative.csproj.user
*.config
*.txt
/WoodenAutomative.DB/obj/Debug/net6.0/WoodenAutomative.DB.assets.cache
/WoodenAutomative.DB/obj/Debug/net6.0/WoodenAutomative.DB.csproj.AssemblyReference.cache
/WoodenAutomative.DB/obj/Debug/net6.0/WoodenAutomative.DB.GeneratedMSBuildEditorConfig.editorconfig
