<!-- begin container-fluid -->
<div class="container-fluid">
    <!-- begin row -->
    <div class="row">
        <div class="col-md-12 m-b-30">
            <!-- begin page title -->
            <div class="d-block d-sm-flex flex-nowrap align-items-center">
                <div class="page-title mb-2 mb-sm-0">
                    <h1>Dashboard</h1>
                </div>
                <div class="ml-auto d-flex align-items-center">
                    <nav>
                        <ol class="breadcrumb p-0 m-b-0">
                            <li class="breadcrumb-item">
                                <a href="~/Home/index"><i class="ti ti-home"></i></a>
                            </li>
                            <li class="breadcrumb-item">
                                Dashboard
                            </li>
                            <li class="breadcrumb-item active text-primary" aria-current="page">Index</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!-- end page title -->
        </div>
    </div>
    <!-- end row -->
    <!-- start dashboard contant -->
    <div class="row">
        <div class="col-xs-6 col-xxl-3 m-b-30">
            <div class="card card-statistics h-100 m-b-0 bg-pink">
                <div class="card-body">
                    <h2 class="text-white mb-0">0</h2>
                    <p class="text-white">Distributor Admin</p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-xxl-3 m-b-30">
            <div class="card card-statistics h-100 m-b-0 bg-primary">
                <div class="card-body">
                    <h2 class="text-white mb-0">0</h2>
                    <p class="text-white">Dealer Group Admin</p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-xxl-3 m-b-30">
            <div class="card card-statistics h-100 m-b-0 bg-orange">
                <div class="card-body">
                    <h2 class="text-white mb-0">0</h2>
                    <p class="text-white">Store Admin</p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-xxl-3 m-b-30">
            <div class="card card-statistics h-100 m-b-0 bg-info">
                <div class="card-body">
                    <h2 class="text-white mb-0">0</h2>
                    <p class="text-white">Advisor</p>
                </div>
            </div>
        </div>
    </div>
    <!-- end dashboard contant -->
</div>
<!-- end container-fluid -->