<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WoodenAutomative</title>
    <!-- app favicon -->
    <link rel="shortcut icon" href="~/assets/img/favicon.ico">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/css/vendors.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/css/style.css" asp-append-version="true" />
@*    <link rel="stylesheet" href="~/WoodenAutomative.styles.css" asp-append-version="true" />*@
</head>
<body class="bg-white">
    <!-- begin app -->
    <div class="app">
        <!-- begin app-wrap -->
        <div class="app-wrap">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        </div>
    </div>
    <script src="~/assets/js/vendors.js"></script>
    <script src="~/assets/js/app.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
