@{
    ViewData["Title"] = "Set New Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="loader">
    <div class="h-100 d-flex justify-content-center">
        <div class="align-self-center">
            <img src="~/assets/img/loader/loader.svg" alt="loader">
        </div>
    </div>
</div>
<!-- end pre-loader -->
<!--start login contant-->
<div class="app-contant">
    <div class="bg-white comingsoon">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-lg-12 align-self-center bg-gradient">
                    <div class="d-flex align-items-center h-100-vh">
                        <div class="comingsoon-wrap w-100">
                            <div class="row no-gutters align-items-center justify-content-center">
                                <div class="col-md-10 text-center m-b-40" id="setPassword">

                                    <!-- Coming soon text -->
                                    <div class="px-5">
                                        <h3 class="text-white display-3 font-weight-normal">Set New Password</h3>
                                    </div>

                                    <!-- newsletter -->
                                    <div class="row no-gutters" id="setPassword">
                                        <div class="col-md-7 mx-auto">
                                            <p class="text-white">Please Provider New Password</p>
                                            <span class="visually-hidden" id="errormsg" style="color: red;"> Password and Confrim Password not matched</span>
                                            <form class="px-5 mt-3">@* method="post" action="SetNewPassword"*@
                                                <input type="Password" class="form-control bg-white-inverse" placeholder="Enter Password" id="password" required>
                                                <br />
                                                <input type="Password" class="form-control bg-white-inverse" placeholder="Enter Confirm Password" id="confrimPassword" required>
                                            </form>
                                            <div class="mt-3"><button class="btn btn-inverse-light" id="save"> Save </button></div>
                                        </div>
                                    </div>

                                </div> 
 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
        });

        $("#save").click(function () {
            var pass = $("#password").val();
            var cpass = $("#confrimPassword").val();
            if(pass === cpass)
            {

            }
            else if(pass === null){
                alert("Please Enter Password");
            }
            else if (cpass === null) {
                alert("Please Enter Confrim Password");
            }
            else
            {
                $("#errormsg").removeClass("visually-hidden");
            }
        });
    </script>
}